* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #003366;
	color: #fff;
	padding: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	background-color: #0066cc;
	border-radius: 5px;
}

main {
	max-width: 1000px;
	margin: 50px auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

h2 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

input[type="text"] {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
 	border: 1px solid #ccc; 
}

button[type="submit"] {
	background-color: #0066cc;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}


.css-serial {
	
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
  }
  
  .css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }

